.mochila {
    background: #C5965F;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    gap: 2em;
    min-width: 600px;
    padding: 4em 2em 2em;
}

@media screen and (max-width: 1024px) {
    .mochila {
        min-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .mochila {
        align-items: center;
        flex-direction: column;
    }
}