@import url('../css/mochila/mochila.css');
@import url('../css/mochila/mochila-imagem.css');
@import url('../css/mochila/mochila-adicionar.css');
@import url('../css/mochila/mochila-input.css');
@import url('../css/mochila/mochila-label.css');
@import url('../css/mochila/mochila-cadastrar.css');

@import url('../css/lista/lista.css');
@import url('../css/lista/lista-item.css');
@import url('../css/lista/lista-quantidade.css');


body {
    background: radial-gradient(farthest-corner at right top,#21A09D, #06182D);
    font-family: 'Roboto', cursive;
    min-height: 100vh;
}

.principal {
    align-items: flex-start;
    display: flex;
    gap: 2em;
    padding: 10vh 3em 3rem;
}

@media screen and (max-width: 1024px) {
    .principal {
        flex-direction: column;
    }
}